* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e7ff3, #cf4adf);
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 800px; 
}


.left-side {
    background-image: url('dia.jpg'); 
    background-size: cover;
    background-position: center;
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 50%;
    padding: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #6e7ff3;
    outline: none;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6e7ff3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

.error {
    border-color: #ff4d4f;
}
